[user]
	name = Ryan Mentley
	email = {{ .email }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if .hasBeyondCompare }}
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
{{- end}}
[color]
	ui = auto
